version: '3.8'
services:
  db:
    image: postgres:15-alpine
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: snap-chef-db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
    