DATABASE_URL=postgresql://postgres:12345@localhost:5432/snap_chef_db?schema=public
JWT_SECRET=secret-key
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

APP_NAME='Snap Chef API'
APP_PORT=8080

REDIS_URL="redis://localhost:6379"
REDIS_KEEP_ALIVE=30000

# mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_USER=mailtrap_user
MAIL_PASSWORD=mailtrap_password
MAIL_FROM=noreply@example.com


# Cookie Configuration (in milliseconds)
COOKIE_ACCESS_TOKEN_MAX_AGE=86400000
COOKIE_REFRESH_TOKEN_MAX_AGE=604800000
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=true
COOKIE_SAME_SITE=lax

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback

